:root {
    --color-theme: #F2F2F2;
    --header-color: #B2A092;
    --text-dark: #000000;
    --text-light: #ffffff;
    --pages-width: 800px;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.otf') format('opentype'); /* https://css-tricks.com/snippets/css/using-font-face-in-css/ */
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.otf') format('opentype'); /* https://css-tricks.com/snippets/css/using-font-face-in-css/ */
}

body {
    font-family: 'Gotham-Book', sans-serif;
    background-color: var(--color-theme);
    color: var(--text-light);
    margin: 0px;
    font-size: 1.5vh;
  }

.home-page{
    min-height: calc(100vh);
    max-width: var(--pages-width);
    margin: auto;
    display: flex;
    align-items: center; /* Align items at the start (top) */
    position: relative;
}

#andre-header-photo{
    display: block;
    position:absolute;
    bottom:0px;
    height : 85vh;
    margin-left: -250px;
}

.first-header{
    z-index: 1; /* Above image */
    text-transform: uppercase;
    font-family: 'Gotham-Bold', sans-serif;
    color: var(--header-color);
    padding: 40px;
    margin-left: auto;
    margin-top: -10vh;
    text-align: right;
    font-size: 2em;
    h1, p{
        margin-block-start: 0em;
        margin-block-end: 0.2em;
    }
    p {
        color: var(--text-dark);
        font-size: .8em;
    }
}

.first-contain{
    width:850px; 
    margin:0 auto;
    align-items: center;
}

